.img-Thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  width: 100px !important;
  height: 80px !important;
}
.updShow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px !important;
  height: 250px !important;
}
.img-Thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.addIng {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.canceli {
  margin-left: 10px;
}
.errorTxt {
  color: #e55353;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

// VARIABLES
$bg: url("https://wallpaperscraft.com/image/coffee_coffee_beans_cupcake_candy_93301_1920x1080.jpg")
  no-repeat center;
$food: url("http://img.taste.com.au/UZVXAdo7/taste/2016/11/chinese-egg-noodle-and-vegetable-stir-fry-94186-1.jpeg")
  no-repeat center;

// FONT
$font: "Roboto", sans-serif;

// COLORS
$white: #fff;
$black: #212129;
$gray: #9b9b9b;
$heart: #17bebb;
$star: #ffe500;
$button: #ef3e36;
.RImg {
  width: 500px;
  height: 350px;
  margin: auto;
  min-height: 350px;
  max-width: 500px;

  position: relative;
}
.card-show {
  position: relative;
  background: $white;
  max-width: 500px;
  margin: auto;

  .header {
    min-height: 350px;
  }
  .icon a .fa-heart-o {
    position: absolute;
    left: 85%;
    bottom: 30.7%;
    background: $heart;
    color: $white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 5px 30px 1px $heart;
  }

  .text {
    .food {
      color: $black;
      text-align: left;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 5px 30px;
    }
    .CIcon {
      margin-left: 30px;
      margin-right: 8px;
    }
  }
  .stars {
    margin: 10px 30px;
    li a i {
      color: $star;
    }
  }
  .info {
    margin: 10px 30px;
  }
  a.btn {
    display: block;
    background: $button;
    color: $white;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
    transition: 250ms;
    &:hover {
      background: $heart;
      transition: 250ms;
    }
  }
}
